#marketing-section-one,
#marketing-section-two {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slogan-marketing-section {
  text-align: center;
  font-family: RazerF5, Arial;
  color: white;
  font-size: 28px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.marketing-section-paragraph {
  font-family: Roboto, Arial;
  font-size: 18px;
  color: #999999;
  line-height: 27px;
  padding: 30px;
  text-align: center;
}

#all-models-button {
  font-family: Roboto, Arial;
  color: black;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  opacity: 1;
  background-color: #44d62c;
  padding: 8px 12px;
  margin-bottom: 32px;
  text-decoration: none;
}

#all-models-button:hover {
  opacity: 0.85;
}

@media (min-width: 680px) {

  .slogan-marketing-section {
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 32px;
  }
}

@media (max-width: 680px) {
  .slogan-wrapper {
    margin-top: 42px;
  }
}

@media (min-width: 1000px) {

  .marketing-section-paragraph,
  .marketing-paragraph-two {
    width: 1000px;
  }
}

/* Marketing Section Two */

#marketing-section-two-heading {
  font-family: RazerF5, Arial;
  font-weight: bold;
  font-size: 36px;
  color: white;
  margin-top: 32px;
  margin-bottom: 32px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.marketing-paragraph-two {
  font-family: Roboto, Arial;
  font-size: 18px;
  color: #999999;
  line-height: 27px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
  margin-bottom: 32px;
}

#background {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 416px) {
  #marketing-section-two-heading {
    font-size: 28px;
  }


}

@media (min-width: 1200px) {
  #background {
    background-image: url('../bilder_grafiken/razer-spheres-mockup.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
  }

  #last-marketing-paragraph-two {
    margin-bottom: 772px;

  }

  #marketing-section-two-heading {
    margin-top: 82px;
    margin-bottom: 63px;
  }
}