.product-video-container {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: black;
  margin-top: 60px;
}

#product-video {
  z-index: 1;
  width: 100%;
}

#pause-button {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 18px;
  background-color: rgb(68, 214, 44);
  cursor: pointer;
  z-index: 2;
  bottom: 10%;
  right: 10%;
}

.pause-icon {
  display: flex;
  width: 15px;
  height: 15px;
  background-image: url('../icons/pause-icon.svg');
  background-size: cover;
  background-position: center; 
}

.play-icon {
  display: flex;
  width: 15px;
  height: 15px;
  background-image: url('../icons/play-icon.svg');
  background-size: cover;
  background-position: center;
}

/*
#pause-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
*/


